<div class="container-fluid">
  <div class="row min-vh-100 flex-column flex-md-row">
    <aside class="col-12 col-md-3 col-xl-2 p-0 bg-dark flex-shrink-1">
      <nav class="navbar navbar-expand-md navbar-dark bd-dark flex-md-column flex-row align-items-center py-2 text-center sticky-top" id="sidebar">
        <div class="text-center p-3">
          <!-- <img src="https://d1vbn70lmn1nqe.cloudfront.net/prod/wp-content/uploads/2021/07/14132151/Inilah-Hal-Menarik-Seputar-Anjing-German-Shepherd_halodoc.jpg.webp" alt="random picture" class="img-fluid rounded-circle my-4 p-1 d-none d-md-block shadow"/> -->
          <a href="#" class="navbar-brand mx-0 font-weight-bold text-nowrap">Admin</a>
        </div>
        <button class="navbar-toggler border-0 order-1" type="button" data-toggler="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse order-last" id="nav">
          <ul class="navbar-nav flex-column w-100 justify-content-center">
            <li class="nav-item">
              <a href="#" class="nav-link active"> Data Pengunjung</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Data UKM</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Data Anggota</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Laporan</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Pertanyaan</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Informasi</a>
            </li>
          </ul>
        </div>
      </nav>
    </aside>
  </div>
</div>