<div class="container">
    <div class="row">
            <div class="col-6 mt-5">
                <h1>Login</h1>
                <form method="POST" action="/user/login">
                    <div class="mb-3">
                      <label for="email" class="form-label">Email address</label>
                      <div class="row">
                          <input type="text" class="form-control col" placeholder="email" placeholder="email" id="email" name="email" aria-describedby="emailHelp" required>
                          <input class="form-control col-4" type="text" placeholder="@unikadelasalle.ac.id" aria-label="Disabled input example" disabled>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Password</label>
                      <div class="row">
                          <input type="password" class="form-control" placeholder="min 8 characters" id="password" name="password">
                      </div>
                    </div>
                    <button type="submit" class="btn btn-success mb-3">Login</button>

                    <p class="mb-5">Don't have account? <a href="/register" class="text-success">Sign up!</a>. Or are you an admin? <a href="/admin/login" class="text-success">Click here!</a></p>

                  </form>
            </div>
    </div>
</div>
<br><br><br><br><br><br><br>